body {
}

.left-menu {
    display: block;
    float: left;
    border: 1px solid darkred;
    width: 15%;
}

.left-menu ul {
    padding: 5px;
}

.left-menu li {
    list-style-type: none;
}

.main-menu {
    display: block;
    float: right;
    min-width:75%;
    width: 80%;
    border: 2px solid red;
    margin-left: 20px;
    padding: 20px;
}

.options-menu {
    display: block;
    float: left;
    clear: left;
    border: 1px solid green;
    width: 15%;
    margin-top: 15px;
}

.options-menu ul {
    padding: 5px;
}

.options-menu li {
    list-style-type: none;
}

.news-admin {
    display: inline-block;
    float: left;
    width: 100%;
    border: 1px solid darkmagenta;
    margin-bottom:2%;
}

.admin-options {
    display: inline-block;
    float: left;
    width: 33%;
    border-right: 2px solid black;
}

.admin-main-info {
    display: inline-block;
    float: left;
    width: 33%;
    border-right:2px solid black;
}

.admin-image {
    display: inline-block;
    float: left;
    width: 32%;
    padding: 5px;
}

.admin-image img {
    width:100%;
}

.edit-menu img {
    width: 30%;
}
